<div class="page-title">
  <div class="row align-items-center">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 text-right">
      <div class="breadcrumbs">
        <ul>
          <li><a href="">Home</a></li>
          <li>Article</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="table100 ver6 m-b-110" >
  <table data-vertable="ver6">
    <thead>
      <tr class="row100 head">
        <th class="column100 column1" data-column="column1"></th>
        <th class="column100 column2" data-column="column2"></th>
        <th class="column100 column2" data-column="column2"></th>
        <th class="column100 column3" data-column="column3"></th>
        <th class="column100 column4" data-column="column4"></th>
        <th class="column100 column5" data-column="column5"></th>
        <th class="column100 column5" data-column="column5"></th>
        <th class="column100 column5" data-column="column5"></th>
        <th class="column100 column6" data-column="column6"></th>
        <th class="column100 column6" data-column="column6"></th>
        <th class="column100 column6" data-column="column6"></th>
      </tr>
    </thead>

    <tbody>
      <tr class="row100" *ngFor="let t of articles" >
        <td
          class="column100 column1"
          data-column="column1"
          (click)="show(t)"
          data-toggle="modal"
          data-target="#exampleModalshow"
        >
          <img
            src="{{host}}/photoarticle/get/{{t['photoArticles']['id']}}/thumb.jpg"
            class="avatar"
            style="border-radius: 80%; vertical-align: middle; height: 80px"
          />
        </td>
        <td class="column100 column2" data-column="column2">{{ t.title }}</td>
        <td class="column100 column2" data-column="column2">{{ t.titlear }}</td>
        <td class="column100 column3" data-column="column3">{{ t.date }}</td>
        <td class="column100 column4" data-column="column4">
          {{ t.autor.name }} ({{ t.autor.type }})
        </td>
        <td class="column100 column5" data-column="column5">
          {{ t.description }}
        </td>
        <td class="column100 column5" data-column="column5">
          {{ t.descriptionar }}
        </td>
        <td class="column100 column5" data-column="column5">
          {{ t.source }}
        </td>
        <td class="column100 column6" data-column="column6">
          <button
            type="button"
            class="btn btn-outline-success"
            style="border-color: transparent"
            data-toggle="modal"
            data-target="#exampleModaledit"
            (click)="update(t)"
          >
            <i class="fas fa-edit"></i> Modifier Article
          </button>
        </td>
        <td class="column100 column7" data-column="column7">
          <button
            type="button"
            class="btn btn-outline-success"
            style="border-color: transparent"
            data-toggle="modal"
            data-target="#exampleModaleditImages"
            (click)="update(t)"
          >
            <i class="fas fa-edit"></i> Modifier Images
          </button>
        </td>
        <td class="column100 column8" data-column="column8">
          <button type="button"
          class="btn btn-outline-danger"
          style="border-color: transparent" (click)="delete(t)">
            <i class="fa fa-trash-o" style="font-size: 24px"></i>
          </button>
        </td>
      </tr>

      <tr class="row100">
        <td class="column100 column1" data-column="column1">
          <button
            type="button"
            class="btn btn-dark"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Add+
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--modal-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouvel Article</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-----------------------------------------------------------form group---------------------------------------------------------->
          <form [formGroup]="myForm" (ngSubmit)="ajouttemoignage()">
            <div class="progress">
              <div
                *ngIf="progressivebarvalue == 0"
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 0%"
              ></div>
              <div
                *ngIf="progressivebarvalue == 50"
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 50%"
              ></div>
              <div
                *ngIf="progressivebarvalue == 100"
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 100%"
              ></div>
            </div>
            <br /><br />
            <div *ngIf="progressivebarvalue == 0">
              <div class="form-group">
                <div class="form-row">
                  <label class="col-md-3" for="name">Titre Francais</label>
                  <div class="col-md-9">
                    <input
                      id="title"
                      type="text"
                      class="form-control"
                      name="name"
                      placeholder="name"
                      formControlName="title"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <label class="col-md-3" for="name">Titre Arabe</label>
                  <div class="col-md-9">
                    <input
                      id="titlear"
                      type="text"
                      class="form-control"
                      name="namear"
                      placeholder="Titre Arabe"
                      formControlName="titlear"
                    />
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="form-row">
                  <label class="col-md-3" for="name">Description Francais</label>
                  <div class="col-md-9">
                    <input
                      id="decription"
                      type="text"
                      class="form-control"
                      name="descriptionar"
                      placeholder="description francais"
                      formControlName="description"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <label class="col-md-3" for="name">Description Arabe</label>
                  <div class="col-md-9">
                    <input
                      id="decriptionar"
                      type="text"
                      class="form-control"
                      name="descriptionar"
                      placeholder="description arabe"
                      formControlName="descriptionar"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <label class="col-md-3" for="name">Source</label>
                  <div class="col-md-9">
                    <input
                      id="source"
                      type="text"
                      class="form-control"
                      name="source"
                      placeholder="Source"
                      formControlName="source"
                    />
                  </div>
                </div>
              </div>


              <div class="form-row">
                <label class="col-md-3" for="nom">Type</label>
                <div class="col-md-9">
                  <div class="form-group">
                    <select
                      class="form-control"
                      name="type"
                      aria-placeholder="--Select your Press--"
                      formControlName="type"
                    >
                      <option style="color: blue" disabled>
                        Presse Tunisienne
                      </option>
                      <option *ngFor="let p of presses1">
                        <h5>{{ p.name }}</h5>
                      </option>
                      <option style="color: blue" disabled>
                        Presse Internationale
                      </option>
                      <option *ngFor="let p of presses2">
                        <h5>{{ p.name }}</h5>
                      </option>
                      <option style="color: blue" disabled>
                        Article Academique
                      </option>
                      <option *ngFor="let p of presses3" selected>
                        <h5>{{ p.name }}</h5>
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="md-form md-outline input-with-post-icon datepicker"
                id="customDays"
              >
                <input
                  placeholder="Select date"
                  type="date"
                  id="Customization"
                  class="form-control"
                  name="date"
                  formControlName="date"
                />
              </div>
            </div>
            <div *ngIf="progressivebarvalue == 50">
              <div class="form-group">
                <label for="file">File</label>
                <input
                  formControlName="file"
                  id="file"
                  type="file"
                  class="form-control"
                  multiple=""
                  (change)="onFileChange($event)"
                />
                <div
                  *ngIf="f.file.touched && f.file.invalid"
                  class="alert alert-danger"
                >
                  <div *ngIf="f.file.errors.required">File is required.</div>
                </div>
              </div>
              <img
                *ngFor="let url of images"
                [src]="url"
                height="150"
                width="200px"
                style="margin: 3px"
              />
              <br />
            </div>
            <div *ngIf="progressivebarvalue == 100">
              <div class="text-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <button
              class="btn btn-secondary"
              [hidden]="progressivebarvalue == 100"
              (click)="next()"
            >
              Next
            </button>
          </form>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalshow"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ article.title }}/{{ article.titlear }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Titre Francais</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="statictitle"
                  value="{{ article.title }}"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Titre Arabe</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="statictitlear"
                  value="{{ article.titlear }}"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Description Francais</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="staticauthor"
                  value="{{ article.description }}"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Description Arabe</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="staticauthorar"
                  value="{{ article.descriptionar }}"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Source</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="source"
                  value="{{ article.source }}"
                />
              </div>
            </div>


            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Source</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="staticsource"
                  value="{{ nameofpresse }} ( {{ typeofpresse }} )"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >date</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="staticdate"
                  value="{{ article.date }}"
                />
              </div>
            </div>
          </form>

          <span *ngFor="let v of photoarticles">
            <img
              [src]="v.data"
              class="avatar"
              style="border-radius: 25%; vertical-align: middle; height: 100px"
            />
          </span>

          <div class="modal-footer">
            <button
              type="button"
              #closebutton
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModaledit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ article.title }}/{{ article.title }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <form (ngSubmit)="update1()">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Titre Francais</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  name="title"
                  class="form-control-plaintext"
                  id="statictitle"
                  value="{{ article.title }}"
                  [(ngModel)]="article.title"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Titre Arabe</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  name="titlear"
                  class="form-control-plaintext"
                  id="statictitlear"
                  value="{{ article.titlear }}"
                  [(ngModel)]="article.titlear"
                />
              </div>
            </div>


            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Description Francais</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  name="description"
                  class="form-control-plaintext"
                  id="staticauthor"
                  value="{{ article.description }}"
                  [(ngModel)]="article.description"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Description Arabe</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  name="descriptionar"
                  class="form-control-plaintext"
                  id="staticauthorar"
                  value="{{ article.descriptionar }}"
                  [(ngModel)]="article.descriptionar"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >Source</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  name="source"
                  class="form-control-plaintext"
                  id="source"
                  value="{{ article.source }}"
                  [(ngModel)]="article.source"
                />
              </div>
            </div>


            <div class="form-row">
              <label class="col-md-3" for="nom">Type</label>
              <div class="col-md-9">
                <select
                  class="form-control"
                  name="type"
                  aria-placeholder="--Select your Press--"
                  value="{{ nameofpresse }}"
                  [(ngModel)]="nameofpresse"
                >
                  <option style="color: blue" disabled>
                    Presse Tunisienne
                  </option>
                  <option *ngFor="let p of presses1">
                    <h5>{{ p.name }}</h5>
                  </option>
                  <option style="color: blue" disabled>
                    Presse Internationale
                  </option>
                  <option *ngFor="let p of presses2">
                    <h5>{{ p.name }}</h5>
                  </option>
                  <option style="color: blue" disabled>
                    Article Academique
                  </option>
                  <option *ngFor="let p of presses3">
                    <h5>{{ p.name }}</h5>
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label"
                >date</label
              >
              <div class="col-sm-10">
                <input
                  type="date"
                  class="form-control-plaintext"
                  id="staticdate"
                  name="date"
                  value="{{ article.date }}"
                  [(ngModel)]="article.date"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-success">
              <i class="fas fa-edit"></i>Modifier
            </button>
          </form>
          <div class="modal-footer">
            <button
              type="button"
              #closebutton
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModaleditImages"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ article.title }}/{{ article.titlear }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <span *ngFor="let v of photoarticles">
              <img
                [src]="v.data"
                class="avatar"
                style="
                  border-radius: 25%;
                  vertical-align: middle;
                  height: 100px;
                  margin-left: 30%;
                "
              />
              <div class="mb-3">
                <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  (change)="onFileChange($event)"
                  (click)="getselectedid(v)"
                />
              </div>
            </span>

            <button type="button" class="btn btn-success" (click)="update2()">
              <i class="fas fa-edit"></i>Modifier
            </button>
          </form>

          <div class="modal-footer">
            <button
              type="button"
              #closebutton
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
