<div class="menu-wrapper">
  <div class="menu">
    <ul>
      <li>
        <h4 class="text-danger">Activités</h4>
      </li>
      <li>
        <a routerLink="projectiondebat"
          ><i class="icon-envelope-letter" routerLinkActive="active"></i
          ><span>Projection Debat</span><i></i
        ></a>
      </li>
      <li>
        <a routerLink="videoprojectiondebat"
          ><i class="icon-envelope-letter" routerLinkActive="active"></i
          ><span>Video Projection</span><i></i
        ></a>
      </li>
      <li>
        <a routerLink="temoignage"
          ><i class="icon-envelope-letter" routerLinkActive="active"></i
          ><span>Temoignage</span><i></i
        ></a>
      </li>
      <li>
        <a routerLink="videotemoignage"
          ><i class="icon-envelope-letter" routerLinkActive="active"></i
          ><span>Video Temoignage</span><i></i
        ></a>
      </li>
      <li>
        <a routerLink="pledoyer"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Plaidoyer</span></a
        >
      </li>
      <li>
        <a routerLink="videopledoyer"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Video Plaidoyer</span></a
        >
      </li>
      <li>
        <h4 class="text-danger">Archive</h4>
      </li>
      <li>
        <a routerLink="presse"
          ><i class="icon-people" routerLinkActive="active"></i
          ><span>Presse</span><i></i
        ></a>
      </li>
      <li>
        <a routerLink="article"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Article</span></a
        >
      </li>
      <li>
        <a routerLink="photoarchive"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Photo</span></a
        >
      </li>
      <li>
        <a routerLink="brochure"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Brochures/communiqués</span></a
        >
      </li>
      <li>
        <a routerLink="videoarchive"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Video</span></a
        >
      </li>
      <li>
        <a routerLink="rapport"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Rapports/Publications</span></a
        >
      </li>
      <li>
        <a routerLink="otherresource"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Autres ressources</span></a
        >
      </li>
      <li>
        <h4 class="text-danger">Programme</h4>
      </li>
      <li>
        <a routerLink="programme"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Programme</span></a
        >
      </li>
      <li>
        <h4 class="text-danger">Medias</h4>
      </li>
      <li>
        <a routerLink="retombemediatique"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Retombe Mediatique</span></a
        >
      </li>
      <li>
        <a routerLink="videoretombemediatique"
          ><i class="icon-wallet" routerLinkActive="active"></i
          ><span>Video Retombe</span></a
        >
      </li>
      <li>
        <h4 class="text-danger">Contact</h4>
      </li>
      <li>
        <a routerLink="contact"
          ><i class="icon-envelope-letter" routerLinkActive="active"></i
          ><span>Contact</span><i></i
        ></a>
      </li>
      <li>
        <h4 class="text-danger">Partenaire</h4>
      </li>
      <li>
        <a routerLink="partenaire"
          ><i class="icon-people" routerLinkActive="active"></i
          ><span>Partenaire</span><i></i
        ></a>
      </li>

      <!-- <li >
                <a routerLink="contact"><i class="icon-envelope-letter" routerLinkActive="active"></i><span>Contact</span><i ></i></a>
            </li>
            <li >
                <a routerLink="partenaire"><i class="icon-people" routerLinkActive="active"></i><span>Partenaire</span><i></i></a>
            </li>
            <li >
                <a routerLink="presse"><i class="icon-people" routerLinkActive="active"></i><span>Presse</span><i></i></a>
            </li>
            <li >
                <a routerLink="programme"><i class="icon-wallet" routerLinkActive="active"></i><span>Programme</span></a>    
            </li>
            <li >
                <a routerLink="retombemediatique"><i class="icon-wallet" routerLinkActive="active"></i><span>Retombe Mediatique</span></a>    
            </li>

            <li >
            <h4 class="text-danger">Archive</h4>
            </li>
            <li >
                <a routerLink="photoarchive"><i class="icon-wallet" routerLinkActive="active"></i><span>Photo</span></a>    
            </li>
            <li >
                <a routerLink="videoarchive"><i class="icon-wallet" routerLinkActive="active"></i><span>Video</span></a>    
            </li>
            <li >
                <a routerLink="brochure"><i class="icon-wallet" routerLinkActive="active"></i><span>Brochures/communiqués</span></a>    
            </li>
            <li >
                <a routerLink="article"><i class="icon-wallet" routerLinkActive="active"></i><span>Article</span></a>    
            </li>
            <li >
                <a routerLink="otherresource"><i class="icon-wallet" routerLinkActive="active"></i><span>Autres ressources</span></a>    
            </li>
            <li >
                <a routerLink="rapport"><i class="icon-wallet" routerLinkActive="active"></i><span>Rapports/Publications</span></a>    
            </li> -->
    </ul>
  </div>
</div>
